<main id="backGround-color" [ngClass]="darkStat?'bg-dark':'bg-white'">
    <div class="container">
        <div class="row first-articles">
            <div class="col-md-6 border-end my-4">
                <img [src]="financeNews[0]?.urlToImage" class="w-100" alt="financeNews">
                <span class="font-s-13 main-color fw-bold">{{financeNews[0]?.source.name}}</span>
                <h2 class="title monter dark" (click)="openArticle(financeNews[0]?.title,financeNews[0]?.content,financeNews[0]?.urlToImage,financeNews[0]?.publishedAt,financeNews[0]?.author,financeNews[0]?.url)">{{financeNews[0]?.title}}</h2>
                <p class="monter font-s-13 dark">{{financeNews[0]?.description}}</p>
                <span class="monter font-s-13 dark">{{financeNews[0]?.publishedAt|date:"MMMM d,y"}}</span>
            </div>
            <div class="col-md-6 my-4">
                <img [src]="financeNews[1]?.urlToImage" class="w-100" alt="financeNews">
                <span class="monter font-s-13 main-color fw-bold">{{financeNews[1]?.source.name}}</span>
                <h2 class="monter title dark" (click)="openArticle(financeNews[1]?.title,financeNews[1]?.content,financeNews[1]?.urlToImage,financeNews[1]?.publishedAt,financeNews[1]?.author,financeNews[1]?.url)">{{financeNews[1]?.title}}</h2>
                <p class="monter font-s-13 dark">{{financeNews[1]?.description}}</p>
                <span class="monter font-s-13 dark">{{financeNews[1]?.publishedAt|date:"MMMM d,y"}}</span>
            </div>
        </div>
        </div>
        <div class="bg-body-secondary d-flex justify-content-center p-3 my-5">
            <img src="./assets/rec1.jpg" class="w-75" alt="Advert">
        </div>
        <div class="container container d-flex flex-column align-items-center">
            <div class="my-5">
                <h3 class="monter band w-100 text-white fw-bold text-center p-1">KEEP EXPLORING</h3>
            </div>
            <div class="row rest-of-news">
                <div class="col-md-8">
                    <div class="row gy-3">
                        <div class="col-md-6" *ngFor="let finance of financeNews">
                            <img [src]="finance?.urlToImage" class="w-100" alt="finance">
                            <span class="monter font-s-13 main-color fw-bold">{{finance?.source.name}}</span>
                            <h2 class="monter title font-s-28 dark" [ngClass]="darkStat?'white':'black'" (click)="openArticle(finance?.title,finance?.content,finance?.urlToImage,finance?.publishedAt,finance?.author,finance?.url)">{{finance?.title}}</h2>
                            <p class="monter font-s-13 dark" [ngClass]="darkStat?'white':'black'">{{finance?.description}}</p>
                            <span class="monter font-s-13 dark" [ngClass]="darkStat?'white':'black'">{{finance?.publishedAt|date:'MMMM d,y'}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 border overflow-hidden">
                    <div class="row">
                        <div class="my-3">
                            <h2 class="band monter fw-bold w-100 bg-secondary p-2 text-center">LATEST ARTICLES</h2>
                        </div>
                        <div class="col-md-12 border-bottom pb-3" *ngFor="let news of latestArticles">
                            <span class="main-color monter">{{news?.source.name}}</span>
                            <h4 class="title monter fw-bold font-s-17 dark" [ngClass]="darkStat?'white':'black'" (click)="openArticle(news?.title,news?.description,news?.urlToImage,news?.publishedAt,news?.author,news?.url)">{{news?.title}}</h4>
                            <p class="monter font-s-13 dark" [ngClass]="darkStat?'white':'black'">{{news?.description}}</p>
                            <span class="font-s-13 monter dark" [ngClass]="darkStat?'white':'black'">{{news?.publishedAt|date:'MMMM d,y'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>